@media (max-width: 1152px) {
    .address__place {
        justify-content: space-around;
    }
    .new .slick-prev {
        left: 1010px;
    }
    .info__content {
        flex-direction: column;
    }
    .info__selle-slider,
    .info__day {
        margin: 0 auto;
    }
    .info__day {
        margin-bottom: 20px;
    }
    .info__selle-box {
        justify-content: center;
    }
}

@media (max-width: 1135px) {
    .new .slick-prev {
        left: 900px;
    }
}

@media (max-width: 1102px) {
    .new .slick-prev {
        left: 900px;
    }
}
@media (max-width: 1024px) {
    .new .slick-prev {
        left: 850px;
    }
}
@media (max-width: 1002px) {
    .new .slick-prev {
        left: 800px;
    }
    .navigatiion__client-search-input {
        border-right: 1px solid #DFE0E1;
    }
    .navigatiion__client {
        flex-direction: column;
    }
    .navigatiion__client-boxLeft,
    .navigatiion__client-boxRight,
    .navigatiion__menu {
        justify-content: center;
    }
    .navigatiion__client-boxLeft {
        margin-bottom: 10px;
    }
}
@media (max-width: 920px) {
    .new .slick-prev {
        left: 750px;
    }
}
@media (max-width: 902px) {
    .new .slick-prev {
        left: 700px;
    }
    .playment__item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       
        align-items: stretch;
    }
}

@media (max-width: 802px) {
    .new .slick-prev {
        left: 500px;
    }
    .info__selle-slider {
        width: 364px;
    }
    .address {
        display: none;
    }
    .connection__conteiner {
        flex-direction: column;
    }
    .connection__conteiner img {
        display: none;
    }
    .connection__conteiner div {
        margin-left: 50px;
    }
    .connection__input {
        margin-bottom: 5px;
    }
}

@media (max-width: 652px) {
    .new .slick-prev {
        left: 400px;
    }
    .info__selle-box {
        flex-direction: column;
    }
    .info__selle-box div {
        margin: 5px auto;
    }
}
@media (max-width: 520px) {
    .new .slick-prev {
        left: 350px;
    }
}
@media (max-width: 475px) {
    .new .slick-prev {
        left: 300px;
    }
}
@media (max-width: 450px) {
    .new .slick-prev {
        left: 250px;
    }
}
@media (max-width: 390px) {
    .new .slick-prev {
        left: 220px;
    }
}